{
  "files": "../target/wasm32v1-none/release/{{ name | replace("-", "_") }}.wasm",
  "rule": [
    {% for c in functions %}{% if loop.first %}{% else %}    ,{% endif %}"{{ c }}_sanity"
{% endfor %}  ]
}
