{% import 'v.j2' as nondet %}use cvlr::cvlr_satisfy;
use cvlr::nondet::Nondet;
use cvlr_soroban_derive::rule;
use cvlr_soroban::*;
use soroban_sdk::{Env, Vec};

{% for pkg in packages %}
{% for c in pkg.contracts %}{% if "Mock" not in c.use and "test" not in c.use %}use {{ c.use }};
{% for t in c.impl_blocks %}{% if t.trait %}use {{ t.trait_fqn }};
{%endif %}{% for f in t.functions %}// {% if t.trait %}trait {{ t.trait }}{% else %}contract {{ c.name }}{% endif %}
#[allow(unused)]
#[rule]
pub fn {{ f.name }}_sanity(env: Env) { {% for p in f.params %}{% if not loop.first %}
    let {{ p.name }} = {{ nondet.nondet(p.type) }};{% endif %}{% endfor %}
    {% if f.params and f.params[0].name == "e" %}let e = env.clone();{% endif %}
    
    {{ c.name }}::{{ f.name }}({% for a in f.params %}{% if loop.first %}{% if t.trait %}&{% endif %}{% else %}, {% endif %}{{ a.name }}{% endfor %});   

    cvlr_satisfy!(true);
}

{% endfor %}{% endfor %}{% endif %}{% endfor %}{% endfor %}

