{% macro nondet(v) %}{% if v == "Address" or v == "MuxedAddress" or v == "String" or v == "u32" or v == "u64" or v == "U256" or v == "i128" or v == "u128" or v == "bool" %}nondet_{{ v|lower }}(){% elif v.startswith("BytesN") %}nondet_bytesn(){% elif v.startswith("Vec<") %}{% if v == "Vec<Address>" %}nondet_vec_address(){% else %}nondet_vec(){% endif %}{% else %}{{ v.replace("<", "::<") }}::nondet(){% endif %}{% endmacro %}