// ═══ {{ feature }} ═══════════════════════════════════════════════════════════════════════════
#[cfg(feature = "{{ feature }}")]
mod {{ feature }};

#[cfg(feature = "{{ feature }}")]
#[invariant_test]
fn {{ feature }}(fixture: &mut Fixture) {
    {{ feature }}::{{ section_fn }}(fixture)
}
