{% if prior_findings == "established" %}
{% include "code_explorer/_index_addendum.j2" %}
{% elif prior_findings == "versioned" %}
{% include "code_explorer/_versioned_index_addendum.j2" %}
{% endif %}
