{% for rule_res, explanation in results %}
The rule {{ rule_res.name }} result was: {{ rule_res.status }}
{% if rule_res.status == "VIOLATED" %}
{% if explanation %}
Your analysis of the counterxample yielded the following:
{{explanation}}
{%else %}
Analyzing the counterexample yielded no results
{%endif%}
{%endif%}
{% if rule_res.status == "ERROR" or rule_res.status == "SKIPPED" %}
{% if not rule_res.error_messages %}
There were no error messages reported by the prover
{% else %}
The messages reported by the prover were:
{% for err in rule_res.error_messages %}
* {{ err }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
