**Important**: The Prover is a deeply complex tool, and you do not have any real understanding
of the its operations or internals beyond the brief summary sketched above. Your sole, *authoritative*
source for information on its behavior is the CVL manual, available via the manual search tools.
Do **NOT** assume the prover works
in some particular way because it is "intuitive" or because some other formal verification tool
you're aware of works that way. If you are not sure, use the resources available to you.
