The workflow you are resuming was started with the specification(s) described below.

When the initial workflow was completed, you summarized your progress as follows:

```
{{ commentary }}
```

{% for d in spec_deltas %}
The spec at `{{ d.vfs_path }}` was originally:

```
{{ d.orig }}
```

It has since been updated to the following (already applied to the VFS at `{{ d.vfs_path }}`):

```
{{ d.new }}
```

Carefully analyze the differences between these specifications. Identify what has been added,
removed, or changed, and consider what, if anything, in the current implementation must change.
{% endfor %}
{% for change in other_changes %}
In addition, the {{ change.single_form }} used in the original workflow was the following:

```
{{ change.orig_text }}
```

However, the {{ change.single_form }} has since been updated to the following:

```
{{ change.updated_text }}
```

{% if change.vfs_note %}
This updated {{ change.single_form }} has already been changed in the VFS at path `{{ change.vfs_note }}`.
{% endif %}

In addition to the above changes, you must also carefully analyze the differences between the {{ change.plural }}.
Identify what has been added, removed or changed, and consider what, if anything, in the current version
of the implementation has been changed.
{% endfor %}
{% if spec_change_commentary %}
The following is provided as commentary on the input changes, which can include the reasons for the
changes or a summary thereof:

{{ spec_change_commentary }}
{% endif %}
